@CHARSET "UTF-8";

/* скрыть поле с уникальным ключом создаваемое при отправки формы методом гет */
.field-hidden {
	display: none;
}
/* уменьшаем размер шрифта для коментария к полю */
.field-comment {
	font-size: 70%;
}
/* обозначение обязательного поля */
.field-required {
	color: #d00;
}
/* коментария для обозначения обязательного поля */
.field-required-comment {
	font-size: 70%;
}